@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;

html,
body {
  height:100%; 
  width:100%;
}

body {
  @include m.flex-container($direction: column);
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}

*{
  color: c.$primary-100;
}

a {
  text-decoration: none;
}

#main {
  flex-grow: 1;
  display: flex;
}