@use '../abstracts/colors' as c;

.check-message {
  font-size: 14px;
  color: c.$primary-40;
  text-align: center;

  a {
    color: c.$primary-100;
    font-weight: bold;
    text-decoration: none;

    &:visited {
      color: c.$primary-100;
    }
  }
}