@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;

.form {
  @include m.flex-container(center, center, column);
  width: 332px;
  margin-top: 190px;

  &__header {
    margin-bottom: 45px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
  }

  &__content {
    @include m.flex-container($direction: column);
    width: 100%;
    row-gap: 16px;
    margin-bottom: 16px;
  }

  &__divider {
    width: 100%;

    span {
      @include m.flex-container(center, center);
      position: relative;
      color: c.$primary-100;
      opacity: 0.2;
      margin: 26px 0;

      &::before,
      &::after {
        content: ' ';
        display: block;
        height: 1px;
        width: 100%;
        background-color: c.$primary-100;
      }
      &::before {
        margin-right: 10px;
      }
      &::after {
        margin-left: 10px;
      }
    }
  }

  &__footer {
    align-self: center;
    margin-top: 34px;
  }
}