$primary-100: #324054;
$primary-80: #465975;
$primary-60: #7B8CA6;
$primary-40: #AEBBCF;
$primary-20: #E4EBF6;

$secondary-100: #B19477;
$secondary-80: #D1CFBE;
$secondary-60: #EBEBE0;
$secondary-40: #F9FAF5;

$success: #5A948D;
$danger: #C47155;
$warning: #F3DF8C;
$info: #324054;

$gray-100: #212529;
$gray-90: #343A40;
$gray-80: #495057;
$gray-70: #6C757D;
$gray-60: #CED4DA;
$gray-50: #E9ECEF;
$gray-40: #F8F9FA;