@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype'),
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./../assets/fonts/SFPro/SFPRODISPLAYBOLD.OTF') format('opentype'),
}