@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;
@import '../abstracts/fonts.scss';

.aside {
  @include m.flex-container(center, $direction: column);
  width: 37%;
  max-width: 538px;
  background: bottom center / contain no-repeat url('/assets/img/hands.png'),
  top left / 100% auto repeat-y url('/assets/img/mask.png'),
  c.$secondary-60;
  background-blend-mode: multiply, normal;
  
}

.aside__info {
  @include m.flex-container($direction: column);
  align-self: center;
  font-family: 'SF Pro Display', sans-serif;
  width: 61%;
  margin-top: 124px;

  h1 {
    margin: 15px 0 8px;
    font-size: 26px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px){
  .aside {
    display: none;
  }
}