@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;

.content {
  @include m.flex-container(center, start, column);
  width: 63%;
  padding-top: 20px;
  margin: 0 auto;

  &__footer {
    @include m.flex-container(center, center, column);
    margin: auto auto 47px;
  }
}

@media screen and (max-width: 767px){
  .content {
    width: 100%;
    background: top left / cover no-repeat url('/assets/img/mask-mobile.png');

    &__footer {
      margin-bottom: 25px;
    }
  }
}