@use '../abstracts/colors' as c;
@use '../abstracts/mixins' as m;

.header {
  @include m.flex-container(center, space-between);
  width: 100%;
  max-height: 92px;
  height: 9%;
  background-color: c.$secondary-40;
  border-bottom: 1px solid rgba(50, 64, 84, 0.3);
  box-sizing: border-box;
  padding: 25px 52px 25px 33px;

  .header__button {
    font-size: 16px;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px){
  .header {
    .header__button{
      display: none;
    }
  }
}