.forgot-password__message {
  &_mobile {
    display: none;
  }
}

@media screen and (max-width: 767px){
  .forgot-password__message {
    &_desktop {
      display: none;
    }
    &_mobile {
      display: block;
    }
  }
}